<footer>
    <div class="bg-light py-1">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                  <a class="brand" href="#">
                      <img src="../assets/images/logo/logo-horizontal-dark.png" alt="">
                  </a>
                </div>
                <div class="col">
                  <div class="d-flex align-items-center">
                      <h3 class="fs-5 fw-semibold me-5">follow us</h3>
                      <ul class="list-unstyled d-flex mb-0">
                          <li><a href="#" class="fs-5 me-5"><i class="bi bi-facebook"></i></a></li>
                          <li><a href="#" class="fs-5 me-5"><i class="bi bi-instagram"></i></a></li>
                          <li><a href="#" class="fs-5 me-5"><i class="bi bi-twitter"></i></a></li>
                          <li><a href="#" class="fs-5 me-5"><i class="bi bi-spotify"></i></a></li>
                          <li><a href="#" class="fs-5"><i class="bi bi-apple"></i></a></li>
                      </ul>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-8 bg-dark">
        <div class="container">
            <div class="d-flex justify-content-between">
                <nav class="navbar navbar-expand-lg py-0" data-bs-theme="dark">
                    <div class="container">
                      <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                          <li class="nav-item">
                            <a class="nav-link ps-0" aria-current="page" href="#">home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">news</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">shows</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">release</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">shop</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">info</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
                  <div class="align-items-center d-flex">
                      <p class="me-8 text-white fs-8">Copyright © 2023 GalaxyBoyz</p>
                      <p class="text-white fs-8">Site by wayhuang</p>
                  </div>
            </div>
        </div>
    </div>
</footer>