<div class="modal fade" id="BROWSING" tabindex="-1" aria-labelledby="browsingLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2 class="mb-4">the item i want is out of stock, what can i do now?</h2>
        <p class="mb-8">if the item you’re after sells out, you can sign-up on our product pages to find out first if it
          becomes available again. not all items we sell will be restocked, especially our limited editions and
          collaborations.</p>
        <h2 class="mb-4">i want to pre-order an item but also purchase an in-stock item together. will you deliver them
          separately?</h2>
        <p class="mb-8">we can’t offer separate deliveries. if your order contains a pre-order item, then all your items
          will be shipped together when the pre-order is releasing.</p>
        <h2 class="mb-4">if i pre-order with you, will it definitely arrive on release day?</h2>
        <p class="mb-8">we ship pre-orders just before the release date to arrive with you on or as close to the
          official release date as possible.

          we can’t guarantee release day delivery for every parcel, but we work hard with our delivery partners to
          ensure the majority will arrive on time.</p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="BUYING" tabindex="-1" aria-labelledby="buyingLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2 class="mb-4">do you have a size guide?</h2>
        <p class="mb-8">yes, we do! the most accurate sizing for an item is displayed on the product page. for all other
          items, please check out our most common size guides below.</p>
        <h2 class="mb-4">i want to pre-order an item but also purchase an in-stock item together. will you deliver them
          separately?</h2>
        <p class="mb-8">we can’t offer separate deliveries. if your order contains a pre-order item, then all your items
          will be shipped together when the pre-order is releasing.</p>
        <h2 class="mb-4">what payment methods do you accept?</h2>
        <p class="mb-8">we accept visa credit, visa debit, mastercard, paypal, google pay and apple pay.
        </p>
        <h2 class="mb-4">where can i find voucher codes?</h2>
        <p class="mb-8">we use voucher codes occasionally for our offers and customer loyalty.if you’d like to be the
          first to hear about news and offers, join our mailing list. you can subscribe using the form at the bottom of
          this page.sometimes we also share offers on social media so keep an eye out there too!if you’re having trouble
          using a voucher code, contact the team. please note that voucher codes may not be combined with any other
          offers.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="SHIPPING" tabindex="-1" aria-labelledby="shippingLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2 class="mb-4">which countries do you deliver to?</h2>
        <p class="mb-4">please note: we have suspended deliveries to russia, belarus and ukraine. we will update this
          page when deliveries are safe to resume.
        </p>
        <p class="mb-4">we deliver to</p>
        <ul style="column-width: 14em">
          <li>Andorra</li>
          <li>Albania</li>
          <li>Argentina</li>
          <li>Australia</li>
          <li>Austria</li>
          <li>Barbados</li>
          <li>Belgium</li>
          <li>Bulgaria</li>
          <li>Canada</li>
          <li>Chile</li>
          <li>China</li>
          <li>Colombia</li>
          <li>Costa Rica</li>
          <li>Croatia</li>
          <li>Cyprus</li>
          <li>Czech Republic</li>
          <li>Denmark</li>
          <li>Egypt</li>
          <li>Estonia</li>
          <li>Finland</li>
          <li>France</li>
          <li>Germany</li>
          <li>Gibraltar</li>
          <li>Greece</li>
          <li>Guernsey</li>
          <li>Hong Kong SAR China</li>
          <li>Hungary</li>
          <li>Iceland</li>
          <li>India</li>
          <li>Ireland</li>
          <li>Isle of Man</li>
          <li>Israel</li>
          <li>Italy</li>
          <li>Japan</li>
          <li>Jersey</li>
          <li>Latvia</li>
          <li>Lithuania</li>
          <li>Luxembourg</li>
          <li>Macau SAR China</li>
          <li>Malta</li>
          <li>Mexico</li>
          <li>Monaco</li>
          <li>Netherlands</li>
          <li>New Zealand</li>
          <li>Norway</li>
          <li>Poland</li>
          <li>Portugal</li>
          <li>Romania</li>
          <li>San Marino</li>
          <li>Singapore</li>
          <li>Slovakia</li>
          <li>Slovenia</li>
          <li>South Africa</li>
          <li>South Korea</li>
          <li>Spain</li>
          <li>Sweden</li>
          <li>Switzerland</li>
          <li>Turkey</li>
          <li>United Arab Emirates</li>
          <li>United Kingdom</li>
          <li>United States</li>
          <li>Vatican City</li>
        </ul>

        <h2 class="mb-4">my delivery is late, where is my order?</h2>
        <p class="mb-8">due to brexit there is an increased chance of delivery delays currently.

          if you haven't received your order within the expected delivery times above, please contact our customer
          service team who will help locate your parcel.</p>

        <h2 class="mb-4">what payment methods do you accept?</h2>
        <p class="mb-8">we accept visa credit, visa debit, mastercard, paypal, google pay and apple pay.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="AUDIODOWNLOADS" tabindex="-1" aria-labelledby="audioDownLoadLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2 class="mb-4">how do i download the digital album or single i’ve purchased?</h2>
        <p class="mb-8">if you buy a digital download that’s not a pre-order, then your confirmation email will contain
          a link to download the music right away.

          we recommend downloading the files onto a desktop or laptop computer rather than using your mobile device.

          if your download is a pre-order, we will email you automatically on release day.</p>

        <h2 class="mb-4">it’s release day and i haven’t had an email for my audio download, what now?</h2>
        <p class="mb-8">oh no! please check your junk / spam email folders first.

          if you still need help, contact us with your order number here.</p>

        <h2 class="mb-4">what file formats do you use for digital audio downloads?</h2>
        <p class="mb-8">unless otherwise stated, all our downloadable albums and singles are a high-quality mp3 file
          (320k 44.1khz 16 bit).

          if you purchase a download advertised as a ‘hd download’ it will be a flac 24bit, with a sampling rate of
          96khz.</p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="SIZEGUIDES" tabindex="-1" aria-labelledby="sizeGuidesLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2 class="mb-4">clothing size guide</h2>
        <p class="mb-8">the most accurate size guides are shown on the product pages. different manufacturers we work
          with can vary slightly so please use the following information as an approximate guide. in general, we
          recommend sizing-up if you are unsure.

          we also accept returns if sizing isn’t quite right. we don’t offer exchanges but you can return your item and
          buy a replacement size, if stock is available.</p>
      </div>
    </div>
  </div>
</div>