<div class="overflow-visible shareSwiper swiper swiper-backface-hidden swiper-horizontal swiper-initialized">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="card">
          <img src="../assets/images/shop/days-of-our-lives-notitle-t-shirt.png" class="card-img-top"
            alt="Days Of Our Lives T-shirt">
          <div class="card-body p-1">
            <h4 class="card-title mb-0">Days Of Our Lives T-shirt</h4>
            <div class="d-flex justify-content-between">
              <p class="card-text">t-shirt</p>
              <p class="card-text">NT500</p>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <img src="../assets/images/shop/day-of-our-lives-lp.png" class="card-img-top" alt="Days Of Our Lives LP">
          <div class="card-body p-1">
            <h4 class="card-title mb-0">Days Of Our Lives LP</h4>
            <div class="d-flex justify-content-between">
              <p class="card-text">vinyl</p>
              <p class="card-text">NT1200</p>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <img src="../assets/images/shop/days-of-our-lives-cd.png" class="card-img-top" alt="Days Of Our Lives CD">
          <div class="card-body p-1">
            <h4 class="card-title mb-0">Days Of Our Lives CD</h4>
            <div class="d-flex justify-content-between">
              <p class="card-text">t-shirt</p>
              <p class="card-text">NT500</p>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <img src="../assets/images/shop/days-of-our-lives-notitle-t-shirt.png" class="card-img-top"
            alt="Days Of Our Lives T-shirt">
          <div class="card-body p-1">
            <h4 class="card-title mb-0">Days Of Our Lives T-shirt</h4>
            <div class="d-flex justify-content-between">
              <p class="card-text">t-shirt</p>
              <p class="card-text">NT500</p>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <img src="../assets/images/shop/days-of-our-lives-notitle-t-shirt.png" class="card-img-top"
            alt="Days Of Our Lives T-shirt">
          <div class="card-body p-1">
            <h4 class="card-title mb-0">Days Of Our Lives T-shirt</h4>
            <div class="d-flex justify-content-between">
              <p class="card-text">t-shirt</p>
              <p class="card-text">NT500</p>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <img src="../assets/images/shop/days-of-our-lives-notitle-t-shirt.png" class="card-img-top"
            alt="Days Of Our Lives T-shirt">
          <div class="card-body p-1">
            <h4 class="card-title mb-0">Days Of Our Lives T-shirt</h4>
            <div class="d-flex justify-content-between">
              <p class="card-text">t-shirt</p>
              <p class="card-text">NT500</p>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
  </div>