<section class="mb-md-8 mb-5">
  <h2 class="mb-4">The latest.</h2>
  <div class="swiper the-latest-swiper overflow-visible">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="card">
          <img src="../assets/images/shop/day-of-our-lives-lp.png" class="card-img-top" alt="Days Of Our Lives T-shirt">
          <div class="card-img-overlay"
            style="background: linear-gradient(0deg, rgba(235,94,40,.7), rgba(255,0,0,0) 50%)">
            <div class="d-flex flex-column h-100 justify-content-end">
              <h4 class="card-title mb-0 text-dark fs-6 fs-md-4">Day Of Our Lives3LP, CD</h4>
              <p class="card-text d-none d-md-block">NT1800</p>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <img src="../assets/images/shop/days-of-our-lives-cd.png" class="card-img-top"
            alt="Days Of Our Lives T-shirt">
          <div class="card-img-overlay"
            style="background: linear-gradient(0deg, rgba(235,94,40,.7), rgba(255,0,0,0) 50%)">
            <div class="d-flex flex-column h-100 justify-content-end">
              <h4 class="card-title mb-0 text-dark fs-6 fs-md-4">Day Of Our Lives3LP, CD</h4>
              <p class="card-text d-none d-md-block">NT2000</p>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <img src="../assets/images/shop/days-of-our-lives-notitle-t-shirt.png" class="card-img-top"
            alt="Days Of Our Lives T-shirt">
          <div class="card-img-overlay"
            style="background: linear-gradient(0deg, rgba(235,94,40,.7), rgba(255,0,0,0) 50%)">
            <div class="d-flex flex-column h-100 justify-content-end">
              <h4 class="card-title mb-0 text-dark fs-6 fs-md-4">Days Of Our Lives T-shirt</h4>
              <p class="card-text d-none d-md-block">NT900</p>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev">
    </div>
    <div class="swiper-button-next"></div>
  </div>
</section>
<section class="mb-md-8 mb-5" id="cd">
  <h2 class="mb-4">CD</h2>
  <div class="swiper cd-swiper overflow-visible">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="card">
          <img src="../assets/images/shop/interstellar-anthem-cd.png" class="card-img-top" alt="Interstellar Anthem">
          <div class="card-img-overlay"
            style="background: linear-gradient(0deg, rgba(235,94,40,.7), rgba(255,0,0,0) 50%)">
            <div class="d-flex flex-column h-100 justify-content-end">
              <h4 class="card-title mb-0 text-dark fs-6 fs-md-4 text-capitalize">Interstellar Anthem</h4>
              <p class="card-text d-none d-md-block">NT900</p>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <img src="../assets/images/shop/galactic-groove-odyssey-cd.png" class="card-img-top"
            alt="Galactic Groove Odyssey">
          <div class="card-img-overlay"
            style="background: linear-gradient(0deg, rgba(235,94,40,.7), rgba(255,0,0,0) 50%)">
            <div class="d-flex flex-column h-100 justify-content-end">
              <h4 class="card-title mb-0 text-dark fs-6 fs-md-4 text-capitalize">Galactic Groove Odyssey</h4>
              <p class="card-text d-none d-md-block">NT1000</p>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <img src="../assets/images/shop/cosmic-riffs-and-melodies-cd.png" class="card-img-top"
            alt="cosmic riffs andMelodies">
          <div class="card-img-overlay"
            style="background: linear-gradient(0deg, rgba(235,94,40,.7), rgba(255,0,0,0) 50%)">
            <div class="d-flex flex-column h-100 justify-content-end">
              <h4 class="card-title mb-0 text-dark fs-6 fs-md-4 text-capitalize">cosmic riffs andMelodies</h4>
              <p class="card-text d-none d-md-block">NT900</p>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <img src="../assets/images/shop/neon-dreamscape-cd.png" class="card-img-top" alt="neon-dreamscape-cd">
          <div class="card-img-overlay"
            style="background: linear-gradient(0deg, rgba(235,94,40,.7), rgba(255,0,0,0) 50%)">
            <div class="d-flex flex-column h-100 justify-content-end">
              <h4 class="card-title mb-0 text-dark fs-6 fs-md-4 text-capitalize">neon dreamscape</h4>
              <p class="card-text d-none d-md-block">NT900</p>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <img src="../assets/images/shop/eclipse-of-sound-cd.png" class="card-img-top" alt="eclipse-of-sound-cd">
          <div class="card-img-overlay"
            style="background: linear-gradient(0deg, rgba(235,94,40,.7), rgba(255,0,0,0) 50%)">
            <div class="d-flex flex-column h-100 justify-content-end">
              <h4 class="card-title mb-0 text-dark fs-6 fs-md-4 text-capitalize">eclipse of sound cd</h4>
              <p class="card-text d-none d-md-block">NT900</p>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
<section class="mb-md-8 mb-5" id="vinyl">
  <h2 class="mb-4">Vinyl</h2>
  <div class="swiper vinyl-swiper overflow-visible">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="card">
          <img src="../assets/images/shop/day-of-our-lives-lp.png" class="card-img-top" alt="day-of-our-lives">
          <div class="card-img-overlay"
            style="background: linear-gradient(0deg, rgba(235,94,40,.7), rgba(255,0,0,0) 50%)">
            <div class="d-flex flex-column h-100 justify-content-end">
              <h4 class="card-title mb-0 text-dark fs-6 fs-md-4 text-capitalize">day of our lives</h4>
              <p class="card-text d-none d-md-block">NT1080</p>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <img src="../assets/images/shop/eternal-echoes-lp.png" class="card-img-top" alt="day-of-our-lives">
          <div class="card-img-overlay"
            style="background: linear-gradient(0deg, rgba(235,94,40,.7), rgba(255,0,0,0) 50%)">
            <div class="d-flex flex-column h-100 justify-content-end">
              <h4 class="card-title mb-0 text-dark fs-6 fs-md-4 text-capitalize">day of our lives</h4>
              <p class="card-text d-none d-md-block">NT1080</p>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
<section class="mb-md-8 mb-5" id="clothing">
  <h2 class="mb-4">clothing</h2>
  <div class="swiper clothing-swiper overflow-visible">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="card">
          <img src="../assets/images/shop/days-of-our-lives-notitle-t-shirt.png" class="card-img-top"
            alt="days-of-our-lives">
          <div class="card-img-overlay"
            style="background: linear-gradient(0deg, rgba(235,94,40,.7), rgba(255,0,0,0) 50%)">
            <div class="d-flex flex-column h-100 justify-content-end">
              <h4 class="card-title mb-0 text-dark fs-6 fs-md-4 text-capitalize">days of our lives</h4>
              <p class="card-text d-none d-md-block">NT500</p>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
<section class="mb-md-8 mb-5">
  <h2 class="mb-4">frequently asked questions</h2>
  <div class="swiper faq-swiper overflow-visible">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="card">
          <div class="border card-body rounded-4">
            <div class="mb-2"><i class="bi bi-search fs-3 text-info"></i></div>
            <h4 class="card-title mb-0 fs-6 fs-md-4 text-dark text-capitalize">BROWSING</h4>
            <a href="#" class="stretched-link" data-bs-toggle="modal" data-bs-target="#BROWSING">
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <div class="border card-body rounded-4">
            <div class="mb-2"><i class="bi bi-bag fs-3 text-warning"></i></div>
            <h4 class="card-title mb-0 text-dark fs-6 fs-md-4 text-capitalize">BUYING</h4>
            <a href="#" class="stretched-link" data-bs-toggle="modal" data-bs-target="#BUYING">
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <div class="border card-body rounded-4">
            <div class="mb-2"><i class="bi bi-truck fs-3 text-danger"></i></div>
            <h4 class="card-title mb-0 text-dark fs-6 fs-md-4 text-capitalize">SHIPPING</h4>
            <a href="#" class="stretched-link" data-bs-toggle="modal" data-bs-target="#SHIPPING">
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <div class="border card-body rounded-4">
            <div class="mb-2"><i class="bi bi-download fs-3"></i></div>
            <h4 class="card-title mb-0 text-dark fs-6 fs-md-4 text-capitalize">AUDIO DOWNLOADS</h4>
            <a href="#" class="stretched-link" data-bs-toggle="modal" data-bs-target="#AUDIODOWNLOADS">
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <div class="border card-body rounded-4">
            <div class="mb-2"><i class="bi bi-arrow-return-left fs-3"></i></div>
            <h4 class="card-title mb-0 text-dark fs-6 fs-md-4 text-capitalize">RETURNS</h4>
            <a href="#" class="stretched-link" data-bs-toggle="modal" data-bs-target="#RETURNS">
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <div class="border card-body rounded-4">
            <div class="mb-2"><i class="bi bi-rulers fs-3"></i></div>
            <h4 class="card-title mb-0 text-dark fs-6 fs-md-4 text-capitalize">SIZE GUIDES</h4>
            <a href="#" class="stretched-link" data-bs-toggle="modal" data-bs-target="#SIZEGUIDES">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>