header{
    .navbar{
        &-brand{
            img{
                height: 20px;
            }
        }
    }
}

footer{
    .brand{
        img{
            height: 16px;
        }
    }
}
.hero{
    background: center / cover no-repeat url(../images/days-of-our-lives-background.png);
    height: calc(100vh - 64px);
    margin-bottom: 64px;
    @include media-breakpoint-up(lg){
        background: 0% 20% / cover no-repeat url(../images/days-of-our-lives-background.png);
        height: calc(100vh - 54px);
        margin-bottom: 54px;
    }
    @include media-breakpoint-up(md){
        background: top / cover no-repeat url(../images/days-of-our-lives-background.png);
    }
}
.whats-news{
    .card-img-sm{
        @include media-breakpoint-up(md){
            width: 86px;
            height: 86px;
        }
    }
}
.info{
    img{
        height: 428px;
        object-position: 0% 80%;
    }
}