.badge {
    font-size: 16px;
    padding: 0 12px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 600;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    @include media-breakpoint-up(lg){
        font-size: 16px;
        padding: 0 12px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
    }
    @include media-breakpoint-up(xl){
        font-size: 24px;
        line-height: 36px;
        padding: 0 24px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-weight: 600;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
}

.music-badge {
    background-color: $white;
    top: 24px;
    left: 24px;
}
.music-badge-circle-lg {
    background-color: $white;
    top: 24px;
    left: 24px;
    width: 176px;
    height: 176px;
    border-radius: 100%;
    font-size: 32px;
    padding: 0;
    text-align: center;
    line-height: 176px;
}