<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>info | GalaxyBoyz official</title>
</head>

<body>
  <%- include('./layout/header-light'); -%>
    <main>
      <section class="info">
        <h1 class="bg-primary display-2 fw-bold py-4 text-center text-white">info</h1>
        <div class="py-lg-10 py-7 container">
            <div class="row justify-content-between gy-5">
                <div class="col-lg-7">
                    <img class="img-fluid object-fit-cover w-100 mb-8" src="../assets/images/info-member.jpeg" alt="info-member">
                    <p>
                        In the vast expanse of the music universe, where genres collide like stars in a cosmic dance, emerges a group that dares to explore the uncharted territories of sound, emotion, and connection. Introducing the galaxyBoyz, a musical phenomenon that transcends boundaries and brings galaxies of listeners together through their unique melodies and energetic performances.
                        <br>
                        <br>
                        The journey of galaxyBoyz began as a constellation of dreams when a group of like-minded individuals decided to fuse their diverse musical backgrounds into a single entity. Their shared passion for creating art that resonates beyond linguistic and cultural confines led them to form a band that orbits around one core principle: to spread positivity and unity through music.
                        <br>
                        <br>
                        Each member of galaxyBoyz brings a distinct star to the constellation, contributing a different color and texture to the group's sonic palette. Their music effortlessly blends elements from various genres—pop, rock, electronic, and more—to create a sound that defies categorization. One moment, you're floating in an ethereal electronic atmosphere, and the next, you're swept away by the power of a rock anthem. Their versatility stems from a commitment to constant experimentation and pushing the boundaries of what's possible.
                        <br>
                        <br>
                        At the heart of galaxyBoyz's mission is a deep-seated belief in the universal language of music. Their melodies are not just notes; they are cosmic signals that resonate with emotions, experiences, and dreams common to all humanity. With every chord they strike and every lyric they sing, they reach across galaxies to touch the hearts of listeners from different walks of life.
                        <br>
                        <br>
                        To witness a galaxyBoyz performance is to embark on an interstellar journey. Their live shows are more than just concerts; they are cosmic experiences that take the audience on a ride through an ever-changing sonic universe. From their visually captivating stage setup to their infectious energy, every aspect of their performances is designed to create a celestial connection with the crowd.
                        <br>
                        <br>
                        With their meteoric rise, galaxyBoyz has caught the attention of both the music industry and fans alike. Their debut album, "Stellar Odyssey," was a celestial revelation, garnering critical acclaim for its innovative sound and captivating storytelling. As they continue to create and Ｆevolve, the world eagerly awaits their next sonic transmission.
                        <br>
                        <br>
                        But galaxyBoyz is more than just a musical group; they are a constellation of values. They are staunch advocates for social change and use their platform to raise awareness about important issues affecting the world. Their collaborations with various charities and organizations reflect their commitment to making a positive impact on both the local and global scales.
                        <br>
                        <br>
                        In a world that sometimes feels divided, galaxyBoyz serves as a shining example of how art can bring people together. Through their music, they remind us that, just like stars in a galaxy, we are all part of a larger whole. So, let the melodies of galaxyBoyz guide you through the cosmic expanse, uniting us all in a symphony of human experience.
                    </p>
                </div>
                <div class="col-lg-3 text-center">
                    <h2 class="mb-5 mb-lg-8 mb-md-4">CONTACT</h2>
                    <ul class="gy-5 list-unstyled row mb-0">
                        <li>
                            <h3 class="fs-2 fw-normal">management</h3>
                            <a class="link-primary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="mailto:way@taiwanbooking.com">way@taiwanbooking.com</a>
                        </li>
                        <li>
                            <h3 class="fs-2 fw-normal">booking: america</h3>
                            <a class="link-primary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="mailto:wayamerica@americabooking.com">wayamerica@americabooking.com</a>
                        </li>
                        <li>
                            <h3 class="fs-2 fw-normal">booking: asia</h3>
                            <a class="link-primary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="mailto:wayasia@asiabooking.com">wayasia@asiabooking.com</a>
                        </li>
                        <li>
                            <h3 class="fs-2 fw-normal">booking: eu</h3>
                            <a class="link-primary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="mailto:wayeu@europebooking.com">wayeu@europebooking.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>