<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <%- include('./layout/head'); -%>
  <title>Days of Our Lives | music | GalaxyBoyz official</title>
</head>

<body>
  <header style="z-index: 1021;"><%- include('./layout/header-light'); -%></header>
    <main>
      <div class="bg-light py-lg-10 py-md-8 py-7">
        <div class="container">
          <div class="flex-column-reverse flex-md-row gx-6 justify-content-center row">
            <div class="col-lg-3 col-md bg-white py-4">
              <h1 class="fs-1 text-center text-md-start">Days Of Our Lives</h1>
              <p class="fs-4 fw-normal mb-md-5 mb-1 text-center text-md-start">by <a href="#"
                  class="link-offset-1 link-underline-primary link-underline-opacity-0 link-underline-opacity-75-hover"><span
                    class="text-primary">GalaxyBoyz</a></span></p>
              <ol class="list-group-numbered list-group mb-5 text-center text-md-start">
                <li class="list-group-item border-0 px-0 pt-0 pb-1">
                  <a href="#"
                    class="link-offset-1 link-underline link-primary link-underline-opacity-0 link-underline-opacity-75-hover"
                    data-bs-toggle="modal" data-bs-target="#SunriseSerenade">
                    Sunrise Serenade
                  </a>
                </li>
                <li class="list-group-item border-0 px-0 pt-0 pb-1">
                  <a href="#"
                    class="link-offset-1 link-underline link-primary link-underline-opacity-0 link-underline-opacity-75-hover"
                    data-bs-toggle="modal" data-bs-target="#MemoriesInMotion">
                    Memories in Motion
                  </a>
                </li>
                <li class="list-group-item border-0 px-0 pt-0 pb-1">
                  <a href="#"
                    class="link-offset-1 link-underline link-primary link-underline-opacity-0 link-underline-opacity-75-hover"
                    data-bs-toggle="modal" data-bs-target="#EchoesOfLaughter">
                    Echoes of Laughter
                  </a>
                </li>
                <li class="list-group-item border-0 px-0 pt-0 pb-1">
                  <a href="#"
                    class="link-offset-1 link-underline link-primary link-underline-opacity-0 link-underline-opacity-75-hover"
                    data-bs-toggle="modal" data-bs-target="#MomentsInBloom">
                    Moments in Bloom
                  </a>
                </li>
                <li class="list-group-item border-0 px-0 pt-0 pb-1">
                  <a href="#"
                    class="link-offset-1 link-underline link-primary link-underline-opacity-0 link-underline-opacity-75-hover"
                    data-bs-toggle="modal" data-bs-target="#WhispersOfTomorrow">
                    Whispers of Tomorrow
                  </a>
                </li>
                <li class="list-group-item border-0 px-0 pt-0 pb-1">
                  <a href="#"
                    class="link-offset-1 link-underline link-primary link-underline-opacity-0 link-underline-opacity-75-hover"
                    data-bs-toggle="modal" data-bs-target="#ChasingRainbows">
                    Chasing Rainbows
                  </a>
                </li>
                <li class="list-group-item border-0 px-0 pt-0 pb-1">
                  <a href="#"
                    class="link-offset-1 link-underline link-primary link-underline-opacity-0 link-underline-opacity-75-hover"
                    data-bs-toggle="modal" data-bs-target="#DancingThroughTime">
                    Dancing Through Time
                  </a>
                </li>
                <li class="list-group-item border-0 px-0 pt-0 pb-1">
                  <a href="#"
                    class="link-offset-1 link-underline link-primary link-underline-opacity-0 link-underline-opacity-75-hover"
                    data-bs-toggle="modal" data-bs-target="#FadingTwilight">
                    Fading Twilight
                  </a>
                </li>
                <li class="list-group-item border-0 px-0 pt-0 pb-1">
                  <a href="#"
                    class="link-offset-1 link-underline link-primary link-underline-opacity-0 link-underline-opacity-75-hover"
                    data-bs-toggle="modal" data-bs-target="#FootprintsInTheSand">
                    Footprints in the Sand
                  </a>
                </li>
                <li class="list-group-item border-0 px-0 pt-0 pb-1">
                  <a href="#"
                    class="link-offset-1 link-underline link-primary link-underline-opacity-0 link-underline-opacity-75-hover"
                    data-bs-toggle="modal" data-bs-target="#TheJourneyWithin">
                    The Journey Within
                  </a>
                </li>
              </ol>
              <p class="fs-7 mb-5">
                Produced by Alex Starlight<br>
                Engineered by Luna Soundwave<br>
                Assistant Engineer by Max Nova<br>
                Mastered by Aiden Nebula<br>
                Vinyl Mastering Levi Seitz at Blackbelt<br>
                <br>
                Vocal Arranger: Olivia Celestia<br>
                Drummer: Milo Meteor<br>
                Guitarist: Zara Aurora<br>
                Bassist: Leo Galaxy<br>
                Keyboardist: Stella Twilight<br>
                Background Music Arranger: Nina Nova<br>
                Synthesizer Technician: Lucas Cosmic<br>
                Programmer: Sophie Starshine<br>
                String Arranger: Noah Nebulon<br>
                <br>
                Album Cover Art by wayhuang<br>
                Art direction and design by wayhuang<br>
                <br>
                released November 11, 2023<br>
                <br>
                all rights reserved<br>
              </p>
              <ul class="list-unstyled row gy-5 mb-0">
                <li>
                  <h3 class="fs-6 mb-1 font-SFPro">Vinyl</h3>
                  <p class="fs-8 mb-1">Includes high-quality download in FLAC and more</p>
                  <a href="#" class="link-offset-1 link-underline link-primary link-underline-opacity-0 link-underline-opacity-75-hover">Buy Vinyl</a>
                  <p class="fw-bold d-inline-block">$1500 NT</p>
                </li>
                <li>
                  <h3 class="fs-6 mb-1 font-SFPro">CD</h3>
                  <p class="fs-8 mb-1">Includes high-quality download in FLAC and more</p>
                  <a href="#" class="link-offset-1 link-underline link-primary link-underline-opacity-0 link-underline-opacity-75-hover">Buy CD</a>
                  <p class="fw-bold d-inline-block">$500 NT</p>
                </li>
                <li>
                  <h3 class="fs-6 mb-1 font-SFPro">Digital Album</h3>
                  <p class="fs-8 mb-1">Includes unlimited streaming, plus high-quality download in MP3, FLAC and more.</p>
                  <a href="#" class="link-offset-1 link-underline link-primary link-underline-opacity-0 link-underline-opacity-75-hover">Buy Digital Album </a>
                  <p class="fw-bold d-inline-block">$150 NT</p>
                </li>
              </ul>
            </div>
            <div class="col-lg-5 col-md bg-white py-4">
              <div class="sticky-top" style="top: 80px;">
                <img class="img-fluid mb-md-5 mb-1" src="../assets/images/release/days-of-our-lives.png"
                  alt="days-of-our-lives">
                <div class="d-none d-md-block">
                  <p class="font-YanoneKaffeesatz mb-4">tag</p>
                  <div class="d-flex mb-4">
                    <a href="#" class="fw-semibold link-primary text-decoration-none me-4 text-lowercase">rock</a>
                    <a href="#" class="fw-semibold link-primary text-decoration-none me-4 text-lowercase">alternative</a>
                    <a href="#" class="fw-semibold link-primary text-decoration-none me-4 text-lowercase">dreampop</a>
                    <a href="#" class="fw-semibold link-primary text-decoration-none me-4 text-lowercase">indie rock</a>
                  </div>
                  <p class="font-YanoneKaffeesatz mb-4">share to:</p>
                  <ul class="list-unstyled d-flex mb-0">
                    <li>
                      <a href="#"><i class="bi bi-facebook me-4"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="bi bi-instagram me-4"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="bi bi-twitter me-4"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <h3 class="fs-5 mb-4">you may also like:</h3>
              <ul class="row list-unstyled row-cols-md-4 row-cols-2 mb-0 gy-4">
                <li class="col">
                  <div class="card">
                    <img src="../assets/images/release/stellar-resonance.png" class="card-img-top"
                      alt="stellar-resonance">
                    <div class="card-body p-0 py-2">
                      <h4 class="card-title fs-6 mb-0 text-capitalize">stellar resonance</h4>
                      <p class="card-text lh-sm font-YanoneKaffeesatz">2023 · single</p>
                      <a href="#" class="stretched-link">
                        <span class="visually-hidden">music link</span>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="col">
                  <div class="card">
                    <img src="../assets/images/release/astral-harmony-chronicles.png" class="card-img-top"
                      alt="astral-harmony-chronicles">
                    <div class="card-body p-0 py-2">
                      <h4 class="card-title fs-6 mb-0 text-capitalize">astral armony chronicles</h4>
                      <p class="card-text lh-sm font-YanoneKaffeesatz">2023 · single</p>
                      <a href="#" class="stretched-link">
                        <span class="visually-hidden">music link</span>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="col">
                  <div class="card">
                    <img src="../assets/images/release/whispers-of-serenity.png" class="card-img-top"
                      alt="whispers-of-serenity">
                    <div class="card-body p-0 py-2">
                      <h4 class="card-title fs-6 mb-0 text-capitalize">whispers of serenity</h4>
                      <p class="card-text lh-sm font-YanoneKaffeesatz">2023 · single</p>
                      <a href="#" class="stretched-link">
                        <span class="visually-hidden">music link</span>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="col">
                  <div class="card">
                    <img src="../assets/images/release/eternal-echoes.png" class="card-img-top" alt="eternal-echoes">
                    <div class="card-body p-0 py-2">
                      <h4 class="card-title fs-6 mb-0 text-capitalize">eternal echoes</h4>
                      <p class="card-text lh-sm font-YanoneKaffeesatz">2023 · single</p>
                      <a href="#" class="stretched-link">
                        <span class="visually-hidden">music link</span>
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>
    <%- include('./layout/modal-music-day-of-our-lives'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>