<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>shop | GalaxyBoyz official<</title>
</head>

<body>
  <%- include('./layout/header-light'); -%>
    <main>
      <section class="shop">
        <h1 class="bg-primary display-2 fw-bold py-4 text-center text-white">shop</h1>
        <div class="py-10 container">
            <ul class="nav nav-underline justify-content-center mb-5">
                <li class="nav-item">
                  <a class="nav-link py-4 active" aria-current="page" href="#">all</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link py-4" href="#">cd</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link py-4" href="#">vinyl</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link py-4">tapes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link py-4">t-shirt</a>
                </li>
              </ul>
              <ul class="row list-unstyled mb-5">
                <li class="col-md-4">
                    <div class="card">
                        <img src="../assets/images/cd-artwork-mockup (1).png" class="card-img-top" alt="Days Of Our Lives T-shirt">
                        <div class="card-body p-1">
                            <div class="align-items-center d-flex justify-content-between">
                              <h4 class="card-title mb-0">Day Of Our Lives3LP, CD</h4>
                              <p class="card-text">NT1800</p>
                          </div>
                          <a href="#" class="stretched-link"></a>
                        </div>
                      </div>
                </li>
                <li class="col-md-4">
                    <div class="card">
                        <img src="../assets/images/cd-artwork-mockup (1).png" class="card-img-top" alt="Days Of Our Lives T-shirt">
                        <div class="card-body p-1">
                            <div class="align-items-center d-flex justify-content-between">
                              <h4 class="card-title mb-0">Day Of Our Lives3LP, CD</h4>
                              <p class="card-text">NT1800</p>
                          </div>
                          <a href="#" class="stretched-link"></a>
                        </div>
                      </div>
                </li>
                <li class="col-md-4">
                    <div class="card">
                        <img src="../assets/images/cd-artwork-mockup (1).png" class="card-img-top" alt="Days Of Our Lives T-shirt">
                        <div class="card-body p-1">
                            <div class="align-items-center d-flex justify-content-between">
                              <h4 class="card-title mb-0">Day Of Our Lives3LP, CD</h4>
                              <p class="card-text">NT1800</p>
                          </div>
                          <a href="#" class="stretched-link"></a>
                        </div>
                      </div>
                </li>
              </ul>
              <nav aria-label="Page navigation example" class="col-4 mx-auto">
                <ul class="justify-content-between pagination mb-0">
                  <li class="page-item"><a class="page-link" href="#"><i class="bi bi-chevron-left"></i></a></li>
                  <li class="page-item"><a class="page-link active" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#"><i class="bi bi-chevron-right"></i></a></li>
                </ul>
              </nav>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>