<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>shows | GalaxyBoyz official</title>
</head>

<body>
  <%- include('./layout/header-light'); -%>
    <main>
      <section>
        <h1 class="bg-primary display-2 fw-bold py-4 text-center text-white">shows</h1>
        <div class="py-10 container">
            <ul class="list-unstyled mb-8 row gy-8">
                <li>
                  <div class="border-bottom gx-0 justify-content-between pb-5 row">
                    <div class="col-md-8">
                      <div class="justify-content-between row gx-0">
                        <div class="col-md-2">
                          <p>AUG 12, 2023</p>
                        </div>
                        <div class="col-md-4">
                          <p>Budweiser Stage</p>
                          <p>w/ Patti Smith and her band & U.S. Girls</p>
                        </div>
                        <div class="col-md-2">
                          <p>TORONTO, ON</p>
                        </div>
                      </div>
    
                    </div>
                    <div class="col-md-2">
                      <button class="btn btn-primary text-white w-100">buy ticktets</button>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="border-bottom gx-0 justify-content-between pb-5 row">
                    <div class="col-md-8">
                      <div class="justify-content-between row gx-0">
                        <div class="col-md-2">
                          <p>AUG 13, 2023</p>
                        </div>
                        <div class="col-md-4">
                          <p>3 Arena</p>
                          <p>w/ Soccer Mommy</p>
                        </div>
                        <div class="col-md-2">
                          <p>DUBLIN, IRE</p>
                        </div>
                      </div>
    
                    </div>
                    <div class="col-md-2">
                      <button class="btn btn-primary text-white w-100">buy ticktets</button>
                    </div>
                  </div>
                </li>
              </ul>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>